.app {
  min-height: 100vh;
  background-color: #f4f5f7;
}

.content-area {
  margin: 0 auto;
  width: 1300px;
}

.nav {
  padding: 20px;
  max-width: 250px;
  text-align: center;
  background-color: rgb(211, 211, 211);
  border-radius: 15px;
}

.nav h2 {
  font-size: 26px;
  margin-top: 0;
}

.header {
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.header img {
  max-width: 300px;
}

.meio {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.item-galeria {
  margin-right: 8px;
  margin-left: 8px;
}

.link {
  text-decoration: none;
  color: black;
}
